@tailwind base;
@tailwind components;
@tailwind utilities;

/* flex flex-col my-2 border-[1px] rounded-md border-neutral-200 p-2 outline-none shadow-inner bg-neutral-100 */

.MDXEditor { @apply p-2 border-[1px] border-neutral-200 rounded-md w-full h-fit my-2 font-poppins relative shadow-inner bg-neutral-100 }
.MDXEditor h1 { @apply font-black text-3xl }
.MDXEditor h2 { @apply font-black text-2xl }
.MDXEditor h3 { @apply font-black text-xl }
.MDXEditor h4 { @apply font-black text-lg }
.MDXEditor h5 { @apply font-black text-base }
.MDXEditor h6 { @apply font-black text-sm }
.MDXEditor ul { @apply list-inside list-disc }
.MDXEditor ol { @apply list-inside list-decimal  }
.MDXEditor a { @apply text-blue-600 }
.MDXEditor a:hover { @apply text-purple-700 underline cursor-pointer }
.MDXEditor img { @apply rounded-md my-2 }
.MDXEditor ._nestedListItem_13nbk_59 { @apply ml-2 }
.MDXEditor blockquote { @apply rounded-r-md border-l-2 border-neutral-500 bg-neutral-200 p-1 }
.MDXEditor ._toolbarRoot_w1wlt_140, ._toolbarRoot_16b3d_141 { @apply w-full font-poppins font-bold bg-neutral-100 top-4 border-neutral-200 border-2 static drop-shadow-md }
.MDXEditor ._rootContentEditableWrapper_w1wlt_1022 { @apply font-poppins }
.MDXEditor ._rootContentEditableWrapper_16b3d_991, .MDXEditor ._contentEditable_16b3d_340 { @apply max-h-32 overflow-auto }
